.about-page-header {
    background-image: url('../../assets/about_pittU.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    color: var(--color-text_w);
    position: relative;
    overflow: hidden;
}

.about-page-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 53, 148, 0.4);
    top: 0;
    left: 0;
    z-index: 1;
}

.about-header-container {
    position: absolute;
    top: 30%;
    left: 22%;
    z-index: 2;
}

.welcome::before{
    content: "Welcome to SCUNC";
}

.origin::before {
    content: "Built by Delegates, For Delegates"
}

.why::before {
    content: "More Than a Conference";
}

.committees-offered::before {
    content: "Committees with Character";
}

.about-title {
    font-size: 56px;
}

.subtitle {
    font-weight: 200;
    font-size: 24px;
}

.about-section {
    margin-top: -1.75rem;
    position: relative;
}

.about-section::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -28.5px;
    background-color: var(--color-secondary);
    color: var(--color-text_w);
    width: max-content;
    max-width: 80%;
    text-align: center;
    padding: 2px 1rem;
    font-weight: 700;
    font-size: 42px;
    z-index: 2;
}

.light {
    background-color: var(--color-text_w);
    color: var(--color-text_p);
}

.dark {
    background-color: var(--color-primary);
    color: var(--color-text_w);
}

.divider {
    position: relative;
}

.divider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(24px);
    width: 130px;
    height: 3px;
    background: rgba(255, 184, 28);
    border-radius: 3px;
}

.divider-wrapper {
    text-align: center;
    margin-top: -1.8rem;
    z-index: 2;
    position: relative;
}

.header {
    display: inline-block;
    background-color: var(--color-secondary);
    color: var(--color-text_w);
    width: fit-content;
    padding: 2px 1rem;
    font-weight: 700;
    font-size: 42px;
}

.about-container {
    width: 100%;
    max-width: clamp(100px, 90%, 1200px); /* min, ideal, max */
    margin: 0 auto;
    padding: 6rem 0 8rem;
    text-align: center;
}

.columns {
    display: grid;
    grid-template-columns: 2fr auto;
    padding: 6rem 3rem 10rem;
}

.info-card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 1rem;
    margin: 3rem 0 5rem;
}

.info-card {
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg,rgba(0, 53, 148, 1) 0%, rgba(255, 184, 28, 1) 100%);    color: var(--color-text_w);
    color: var(--color-text_w);
    border-radius: 10px;
    padding: 0 2rem;
    cursor: default;
    transition: transform .2s ease-in-out;
}

.info-card:hover {
    transform: translateY(-10px);
}

.info-text {
    font-weight: 100;
    font-size: 17px;
    line-height: 1.6rem;
    margin: 0 auto;
    padding-top: 2rem;
    max-width: clamp(320px, 90%, 1200px);
}

.info-title {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: .75rem;
    position: relative;
}

.info-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 4px;
    transform: translateX(-50%);
    background: var(--color-text_g);
    opacity: 90%;
    border-radius: 5px;
}

.quote-title {
    font-weight: 300;
    font-size: 13px;
}

.quote-subtext {
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    margin: .5rem 0 1.5rem;
}

.cta {
    padding: 8px 10px;
    width: 210px;
    transition: transform .3s ease-in-out;
}

.cta:hover {
    transform: scale(1.25);
    text-decoration: underline;
}

.light-cta {
    background-color: var(--color-text_w);
    color: var(--color-primary);
}

.dark-cta {
    background-color: var(--color-primary);
    color: var(--color-text_w);
}

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin: 2rem 0 3rem;
}

.why-info {
    text-align: left;
    max-width: 470px;
}

.why-sub {
    font-size: 54px;
}

.testimonial-container {
    width: 300px;
    overflow: hidden;
    position: relative;
}
  
.testimonial-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.testimonial-card {
    background-color: var(--color-text_w);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top: 10px solid var(--color-secondary);
    display: grid;
    grid-template-areas: 
        "top"
        "body"
        "footer"
    ;
    grid-template-rows: 0fr 0fr 1fr 0fr 0fr;
    height: fit-content;
    text-align: center;
    flex: 0 0 100%;
    padding: 1rem 2.5rem 2rem;
    cursor: default;
    color: var(--color-text_p);
}

.testimonial-pfp {
    border-radius: 360px;
    width: 175px;
    height: 175px;
    margin: 0 auto 1.5rem;
}

.quote-title {
    font-size: 18px;
    font-weight: 500;
}

.quote-info {
    line-height: 1rem;
    font-size: 14px;
    font-weight: 200;
    margin-top: 1rem;
}

.bottom {
    margin: 0;
}

.slider-controls {
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
    gap: 10px;
    background-color: var(--color-text_w);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
  
.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-text_g);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.slider-dot.active {
    background-color: var(--color-secondary);
    transform: scale(1.2);
}

.subsubheader {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.subsubheader::after {
    transform: translateY(12px);
}

.committees-offered-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
}

.committee-cat {
    color: var(--color-text_w);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    transition: transform .2s ease-in-out;
}

.committee-cat:hover {
    transform: translateY(-10px);
}

.cat1 {
    background: linear-gradient(135deg,rgba(0, 53, 148, 1) 26%, rgba(255, 255, 255, 1) 100%);
}

.cat2 {
    background: linear-gradient(290deg,rgba(255, 184, 28, 1) 0%, rgba(0, 53, 148, 1) 100%);
}

.cat3 {
    background: linear-gradient(135deg,rgba(0, 53, 148, 1) 25%, rgba(0, 16, 46, 1) 100%);
}

@media screen and (max-width: 770px) {
    .about-header-container {
        top: 26%;
        left: 6%;
    }

    .about-title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 16px;
    }

    .header {
        font-size: 26px;
        max-width: 90%;
    }

    .about-section::before{
        font-size: 26px;
        top: -18.25px;
    }

    .light::before {
        top: -34.5px;
    }

    .info-card-container {
        grid-template-columns: none;
    }

    .cta-container {
        justify-content: space-between;
        gap: 0;
    }

    .cta {
        width: fit-content;
    }

    .columns {
        grid-template-columns: none;
        justify-items: center;
        margin: 0 auto;
        gap: 4rem;
        padding: 5rem 0 10rem;
    }

    .testimonial-card {
        grid-template-rows: 0fr 0fr .85fr .1fr .1fr;
        padding-bottom: 0;
    }

    .committees-offered-list {
        grid-template-columns: none;
        justify-items: center;
    }

    .subsubheader {
        text-align: center
    }

    .why-info {
        text-align: center;
    }

    .why-sub {
        font-size: 36px;
    }

    .divider::after {
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}