.category-container {
    margin: 2rem auto;
    max-width: clamp(320px, 60%, 1200px);
}

.committee-info {
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
}

.background-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 10rem;
}

.background-guide-img {
    height: 20vh;
    margin-bottom: 1rem;
}

.background-guide-img:hover {
    box-shadow: 0 0 20px rgba(255, 184, 28, 0.8);
}

@media screen and (max-width: 770px) {
    .committee-info {
        font-size: 14px;
    }
}